{%- use "form_div_layout.html.twig" -%}

{# Widgets #}

{%- block form_widget_simple -%}
    {%- if type is defined and type is same as 'hidden' -%}
        {{- parent() -}}
    {%- else -%}
        {%- if type is not defined or type not in ['file'] -%}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input')|trim}) -%}
        {%- endif -%}
        {%- set size_class = '' -%}
        {%- for size in ['is-small', 'is-medium', 'is-large'] -%}
            {% if size in form.vars.attr.class|default('') %}
                {%- set size_class = size -%}
            {% endif %}
        {%- endfor -%}
        {%- set widget_icon = attribute(form.vars, 'bulma_icon')|default(false) -%}
        <div {{ block('form_widget_container_attributes') }}>
            {{- parent() -}}
            {%- if widget_icon != false -%}
                <div class="{{ ('icon ' ~ size_class|default(''))|trim|escape('html_attr') -}}">
                    <i class="fa fa-{{ attribute(widget_icon, 'icon')|default('')|escape('html_attr') -}}"></i>
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock form_widget_simple %}

{%- block choice_widget_collapsed -%}
    {% set classes = form.vars.attr.class|default('') %}
    <div {{ block('form_widget_container_attributes') }}>
        <div class="{{ ('select ' ~ (multiple ? 'is-multiple ') ~ classes|join(' '))|trim|escape('html_attr') }}">
            {{- parent() -}}
        </div>
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    {# Check if the `ChoiceType` has an attribute `dropdown` set to true #}
    {%- if form.vars.attr.dropdown|default(false) -%}
        {{- block('choice_widget_dropdown') -}}
    {% else %}
        {%- if '--inline' in form.vars.attr.class|default('') -%}
            {%- set inline_choice = true -%}
        {%- endif -%}

        {%- if inline_choice|default(false) == true -%}
            <div {{ block('form_widget_container_attributes') }}>
        {%- endif -%}

        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' control')|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form -%}
                {{- form_widget(child, {
                    inline_choice: inline_choice|default(false),
                    translation_domain: choice_translation_domain,
                }) -}}
            {%- endfor -%}
        </div>

        {%- if inline_choice|default(false) == true -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock choice_widget_expanded -%}

{# New block which implements Bulma's `Dropdown`-component when a `ChoiceType` both has 'expanded' & the attribute `dropdown` set to true #}
{%- block choice_widget_dropdown -%}
    <div class="dropdown-trigger">
        <button type="button" class="button{{- (attr.class is defined ? (' ' ~ attr.class) ~ (form.vars.value is not empty ? ' is-dark'))|escape('html_attr') -}}">
            {%- if label is empty -%}
                {%- if label_format is not empty -%}
                    {%- set label = label_format|replace({'%name%': name,'%id%': id}) -%}
                {%- else -%}
                    {%- set label = name|humanize -%}
                {%- endif -%}
            {%- endif -%}
            <span>{{- label -}}</span>
            {%- if (attr.dropdown_arrow_icon is not defined or attr.dropdown_arrow_icon is same as(true)) -%}
                <span class="icon is-small">
                    <i class="fas fa-angle-down"></i>
                </span>
            {%- endif -%}
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            {%- if placeholder is not none -%}
                <div class="dropdown-item">
                    {{- form_widget(form['placeholder'], {
                        inline_choice: true,
                        translation_domain: choice_translation_domain,
                    }) -}}
                </div>
            {%- endif -%}
            {%- for key, choice_or_group in choices -%}
                {# if it's an iterable ('ChoiceGroupView') - render choices according to their assigned group #}
                {%- if choice_or_group is iterable -%}
                    {%- if not loop.first -%}
                        <hr class="dropdown-divider">
                    {%- endif -%}
                    <label class="dropdown-item label">{{ choice_translation_domain is same as(false) ? key : key|trans({}, choice_translation_domain) }}</label>
                    <div class="px-2">
                        {%- for choice_key, choice in choice_or_group -%}
                            <div class="dropdown-item">
                                {{- form_widget(form[choice_key], {
                                    inline_choice: true,
                                    translation_domain: choice_translation_domain,
                                }) -}}
                            </div>
                        {%- endfor -%}
                    </div>
                    {# if it's not an iterable ('ChoiceView') - simply render choices #}
                {%- else -%}
                    <div class="dropdown-item">
                        {{- form_widget(form[key], {
                            inline_choice: true,
                            translation_domain: choice_translation_domain,
                        }) -}}
                    </div>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
{%- endblock -%}

{%- block textarea_widget -%}
    <div {{ block('form_widget_container_attributes') }}>
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' textarea')|trim}) -%}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{%- endblock textarea_widget -%}

{%- block number_widget -%}
    {# type="number" doesn't work with floats #}
    {%- set type = type|default('text') -%}
    {{- block('form_widget_simple') -}}
{%- endblock number_widget -%}

{% block checkbox_widget -%}
    {{- form_label(form, null, { widget: parent() }) -}}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {{- form_label(form, null, { widget: parent() }) -}}
{%- endblock radio_widget %}

{%- block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' datetime-widget')|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_widget(form.date) -}}
            {{- form_widget(form.time) -}}
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}

{%- block date_widget -%}
    {%- if widget != 'single_text' -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' control is-grouped date-widget')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock date_widget -%}

{%- block time_widget -%}
    {%- if widget != 'single_text' -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' control is-grouped time-widget')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock time_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' button is-primary')|trim}) -%}
    {{- block('button_widget') -}}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {%- set type = type|default('reset') -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' button is-link')|trim}) -%}
    {{- block('button_widget') -}}
{%- endblock reset_widget -%}

{%- block button_widget -%}
    {%- set btn_class = 'is-link' -%}
    {%- for color in [ 'is-primary', 'is-info', 'is-success', 'is-warning', 'is-danger' ] -%}
        {% if color in attr.class|default('') %}
            {%- set btn_class = color -%}
        {% endif %}
    {%- endfor -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' button ' ~ btn_class)|trim}) -%}
    <div {{ block('form_widget_container_attributes') }}>
        {{- parent() -}}
    </div>
{%- endblock button_widget -%}

{# Labels #}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block checkbox_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' checkbox')|trim}) -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{%- block radio_label -%}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' radio')|trim}) -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label -%}

{%- block checkbox_radio_label -%}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {%- if widget is defined -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}
        {%- if not inline_choice|default(false) %}<div class="control">{% endif -%}
        <label{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- widget|raw }}
        {% if label is not same as(false) %}
            {% if translation_domain is same as(false) %}
                {% if label_html is same as(false) %}
                    {{ label }}
                {% else %}
                    {{ label|raw }}
                {% endif %}
            {% else %}
                {% if label_html is same as(false) %}
                    {{ label|trans(label_translation_parameters, translation_domain) }}
                {% else %}
                    {{ label|trans(label_translation_parameters, translation_domain)|raw }}
                {% endif %}
            {% endif %}
        {% endif %}
        </label>
        {%- if not inline_choice|default(false) %}</div>{% endif -%}
    {% endif %}
{% endblock checkbox_radio_label %}

{# Help #}

{%- block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: ('help ' ~ help_attr.class|default(''))|trim}) -%}
        <div id="{{ id|escape('html_attr') }}_help"{%- with { attr: help_attr } -%}{{- block('attributes') -}}{%- endwith -%}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock -%}

{# Rows #}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({class: ('field ' ~ row_attr.class|default(''))|trim}) -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{%- block choice_row -%}
    {%- if expanded -%}
        {%- set row_attr = row_attr|merge({class: ('field ' ~ row_attr.class|default(''))|trim}) -%}
        <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="dropdown">
                {{- form_widget(form) -}}
            </div>
            {{- form_errors(form) -}}
            {{- form_help(form) -}}
        </div>
    {%- else -%}
        {{- block('form_row') -}}
    {%- endif -%}
{% endblock %}

{%- block money_row -%}
    {{- form_label(form) -}}
    {{- block('form_widget_simple') -}}
    {{- form_errors(form) -}}
    {{- form_help(form) -}}
{%- endblock money_row -%}

{%- block percent_row -%}
    {{- form_label(form) -}}
    {{- block('form_widget_simple') -}}
    {{- form_errors(form) -}}
    {{- form_help(form) -}}
{%- endblock percent_row -%}

{# Errors #}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="help is-danger">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{# Support #}

{%- block form_widget_container_attributes -%}
    {%- set class = 'control' -%}
    {%- set widget_icon = attribute(form.vars, 'bulma_icon')|default() -%}
    {%- if widget_icon is defined and widget_icon is iterable -%}
        {%- set class = class ~ ' has-icon has-icon-' ~ (attribute(widget_icon, 'position')|default('right'))|trim -%}
    {%- endif -%}
    class="{{ class }}"
{%- endblock form_widget_container_attributes -%}
